footer{
    display: flex;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 3em;
    width: 100%;
    min-height: 4em;
    max-height: 5em;
    background-color:#ededed;
    border-top: 1px solid #777777;
}

.marquee{
    font-size: 2em;
}

.marquee-content{
    display: flex;
    list-style: none;
    animation: scrolling 20s linear infinite;
}
.marquee-item{
    font-size: 2.5rem;
    flex-shrink: 0;
}
@keyframes scrolling {
    0% {transform: translateX(0)}
    100%{transform: translateX(-100%)} 
}
