*{
  font-family: "Roboto", sans-serif;
  
}
body{
  height: 100vh;
  width: 100%;
  background-color: #ededed;
}
.App {
  text-align: center;
  height: 100vh;
}
.App {
  display: grid;
  place-items: center; 
  height: 100vh; 
}
.primary-heading {
  font-size: 5rem; 
  font-weight: 900;
  color: #1c1c1c;
}

.primary-subheading {
  font-size: 3rem;
  font-weight: 500;
  color: #2c2c2c;
}
.primary-text{
  font-size: 1.5rem;
  font-weight: 300;
  color: #2c2c2c;

}
.secondary-heading {
  font-size: 5rem; 
  font-weight: 600;
  color: #2c2c2c;
}

.secondary-subheading {
  font-size: 3rem; 
  font-weight: 400;
  color: #3c3c3c;
}
.secondary-text{
  font-size: 1.5rem; 
  font-weight: 100;
  color: #3c3c3c;  
}


